* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
}

@media screen and (max-width: 1440px) {

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.asideLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%;
    background-image: url(images/bg-main-desktop.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.Cards {
    width: 447px;
    height: 245px;
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
}

.frontCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    margin-right: 150px;
    background-image: url(images/bg-card-front.png);
}

.cardDetails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardDetails p:nth-child(1) {
    flex-basis: 100%;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.cardDetails p:nth-child(2) {
    text-transform: uppercase;
}

.backCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 0 60px;
    background-image: url(images/bg-card-back.png);
}

.loginSection {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.loginPanel {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-transform: uppercase;
}

.loginPanel p {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: hsl(278, 68%, 11%);
}

.loginPanel input {
    padding: 10px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 10px
}

.loginPanel input::placeholder {
    color: hsl(270, 3%, 87%);
}

.dateAndCvc {
    display: flex;
    gap: 20px;
}

.date {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.date p {
    flex-basis: 100%;
}

.date input {
    width: 48%;
}

.cvc {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.loginPanel button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-style: none;
    border-radius: 10px;
    color: white;
    background-color: hsl(278, 68%, 11%);
}

}

@media screen and (max-width: 375px) {
    .wrapper {
        flex-direction: column;
    }
    
    .asideLeft {
        flex-direction: column-reverse;
        gap: 10px;
        height: 40%;
        width: 100%;
        padding: 30px 15px 0;
        background-image: url(images/bg-main-mobile.png);
        background-size: 100% 65%;
    }
    
    .Cards {
        width: 300px;
        height: 180px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .frontCard {
        transform: translateY(-50%);
        padding: 15px;
        margin-right: 50px;
    }

    .frontCard div svg {
        transform: scale(0.8);
    }
    
    .cardDetails p {
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    .cardDetails p:nth-child(1) {
        font-size: 0.8rem;
    }

    .backCard {
        align-self: flex-end;
        padding: 0 40px;
    }

    .backCard p {
        line-height: 10px;
        font-size: 10px;
    }
    
    .loginSection {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .loginPanel p {
        margin-top: 25px;
        margin-bottom: 10px;
    }
}
